.section_two {
  background-image: url("./imgs/Firefly_\ bug\ flipping\ robots\ on\ black\ background\ 90873\ 1.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 996px;
  position: relative;
  margin: 0 auto;
}
